[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
azure-cognitiveservices-speech = "*"
python-dotenv = "*"

[dev-packages]


[requires]
python_version = "3.9"
